@keyframes slidein {
  from {
    margin-left: 0;
    opacity: 0;
  }

  to {
    margin-left: 9em;
    opacity: 100%;
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  border-bottom: 1px gray solid;
}
.mq, .mre {
  display: none;
}
.img {
  text-align: center;
}
.text {
  height: 100vh;
  background-color: rgb(103, 218, 137);
}
body {
  margin: 0;
}
.textIn {
  padding: 10em;
  padding-top: 15em;
}
.treeHeight {
  font-size: 100px;
}
.tip {
  font-size: 35px;
}
.todayInfo {
  font-size: 25px;
}
.treeImg {
  height: 100vh;
  width: auto;
  text-align: center;
}
.reCont {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 50%;
  border-bottom: gray 1px solid;
}
.reImg {
  height: 50vh;
  background-color: rgb(0, 170, 26);
}
.reT {
  font-size: 50px;
}
.reText {
  margin-left: 9em;
  margin-top: 13em;
}
.reA {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 30px;
  color: black;
  text-decoration: none;
}
.reA:hover {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 30px;
  color: black;
  text-decoration: none;
  background-color: black;
  color: white;
}
.reP {
  margin-bottom: 40px;
}
.qCont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 50%;
}
.qText {
  margin-left: 9em;
  margin-top: 13em;
}
.qImgs {
  text-align: center;
  background-color: rgb(103, 218, 137);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qImg {
  height: 50%;
}
@media (max-width: 1600px) and (min-width:1100px) {
  .treeHeight {
    font-size: 70px;
  }
  .todayInfo {
    font-size: 20px;
  }
  .tip {
    font-size: 30px;
  }
}
@media (max-height: 760px) {
  .textIn {
    padding: 7em;
    padding-top: 8em;
  }
  .reText {
    margin-left: 9em;
    margin-top: 5em;
  }
  .qText {
    margin-left: 9em;
    margin-top: 5em;
  }
}
@media (max-width: 1099px) {
  .textIn {
    padding: 5em;
    padding-top: 3em;
  }
  .treeHeight {
    font-size: 70px;
  }
  .todayInfo {
    font-size: 20px;
  }
  .tip {
    font-size: 30px;
  }
}
@media (max-width: 770px) {
  .qCont {
    display: none;
  }
  .reCont {
    display: none;
  }
  .container {
    display: block;
  }
  .text {
    height: 20vh;
    width: 100%;
    background-color: rgb(103, 218, 137);
  }
  .tip {
    display: none;
  }
  .todayInfo {
    display: none;
  }
  .treeImg {
    height: 80vh;
    width: auto;
    text-align: center;
  }
  .textIn {
    padding: 0;
    text-align: center;
    margin: 0;
    
  }
  .treeHeight {
    font-size: 50px;
    margin: 0;
  }
  .mq, .mre {
    display: inline;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 30px;
    color: black;
    text-decoration: none;
  }
}